
.line {
    max-width: 800px;
    position: relative;
    margin: 64px auto;
}

.container {
    position: relative;
    padding: 10px 50px;
    width: 50%;
}

.text-box {
    font-weight: 600;
    color: blue;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    position: relative;
    font-size: 15px;
    box-shadow: #0000003d 0 3px 8px;
}    


.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.text-box p {
    font-size: large;
    margin-top: 10px;
}

.outline {
    color: white;
    background-color: white;
    width: 50px;
    box-shadow: #0000003d 0 3px 8px;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: -24px;
    top: 32px;
    z-index: 10;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: #7e20e3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}

.right-container .outline {
    left: -24px;
}

.line::after {
    content: "";
    position:absolute;
    background-color: #7e20e3;
    height: 100%;
    width: 6px;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid green;
    right: -15px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid green;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .line {
        margin: 50px auto;
    }

    .line::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    } 

    .right-container {
        left: 0;
    }

    .left-container .outline, .right-container .outline {
        left: 6px;
    }

    .left-container-arrow {
        border-right: 15px solid green;
        border-left: 0;
        left: -15px;
    }
}